<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextQuery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TextQuery.Properties.Settings>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastQuery" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRegex" serializeAs="String">
                <value />
            </setting>
            <setting name="DataSourceTab" serializeAs="String">
                <value />
            </setting>
            <setting name="ProcessorTab" serializeAs="String">
                <value />
            </setting>
            <setting name="CsvTsv" serializeAs="String">
                <value />
            </setting>
            <setting name="CsvTsvHeadings" serializeAs="String">
                <value />
            </setting>
            <setting name="MultipleFileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="MultipleFilePattern" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProfile" serializeAs="String">
                <value />
            </setting>
        </TextQuery.Properties.Settings>
    </userSettings>
</configuration>